*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #ffffff;
}

h1 {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 15px 25px lightgrey;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
} 

/* Главная шапка сайта */
.main-navigation {
  padding: 0;
  margin: 0 auto;
  background: #ffffff;
}

.logo {
  position: absolute;
  top: 0;
  z-index: 2;
  transform: translateX(531px);
}
 
.main-menu {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  padding-left: 11px;
  vertical-align: top;
  text-align: center;
  width: 237px;
  font-size: 14px;
}

.main-menu li:nth-child(2) {
  margin-right: 250px;
}

.main-menu a {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.main-menu a:hover {
  color: #99cccc;
}

.main-menu a:active {
  color: #cccccc;
}

.main-menu .active,
.main-menu .active:hover {
  color: #766357;
}
/* Главная шапка сайта */

/* Фоновое изображение и текст*/
.intro {
  position: relative;
  padding-top: 77px;
  padding-left: 370px;
  background: #ccffff url("../img/bg-photo.jpg") no-repeat;
  height: 510px;
  background-position: 50% 25%;
}

.intro::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  right: 100px;
  background: url("../img/intro-shape.png");
  width: 1200px;
  height: 57px;
}

.intro img {
  width: 458px;
  height: 352px;
}
/* Фоновое изображение и текст*/

/* Причины и преимущества */
.reasons-header {
  padding-top: 60px;
  height: 215px;
  vertical-align: middle;
  text-align: center;
}

.reasons-header h1 {
  width: 440px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 30px;
}

.reasons-text-pic {
  width: 100%;
  height: 256px;
}

.reasons-text {
  width: 400px;
  padding: 39px 42px 60px 41px;
  height: 256px; 
  text-align: center;
  background-color: #81b3d2;
  color: white;    
}

.reasons-text h2,
.reasons-text p {
  margin-bottom: 22px;
}

.reasons-img {
  width: 800px;
  height: 256px;
}

.advantages-text {
  float: left;
  width: 400px;
  height: 330px;
  padding: 61px 55px 85px 52px;
  text-align: center;
}

.reasons-box {
  height: 256px;
  background-color: #eeeeee;
}

.reasons-text-box {
  float: left;
  width: 400px;
  height: 256px;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 60px;
  padding-left: 47px;
  padding-right: 49px;
}

.reasons-text-box h3 {
  margin-bottom: 25px;
}

.reasons-text-box p {
  margin-bottom: 22px
}
/* Причины и преимущества */

/* Поиск гостиницы */
.hotel-search {
  height: 764px;
  padding-top: 32px;
  text-align: center;
  background-color: #fff;
}

.hotel-search p {
  width: 450px;
  margin: 0 auto;
} 

.search-headline {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 24px;
  color: #000;
}

.search-header p {
  line-height: 24px;
  font-weight: normal;
}

.hotel-search-button {
  width: 570px;
  margin-top: 49px;
  padding: 29px 100px;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
  outline: none;
  cursor: default;
  
}

/* Выпадающая форма */
.hotel-search-block {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 5;
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0 5px 15px 5px rgba(0,1,1,0.15); 
}


.hotel-search-block-show {
  display: block;
}

.input-wrapper {
  padding: 0;
  margin: 0;
} 

.hotel-search-form label {
  float: left;
  padding-top: 6px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-form input.date-in,
.hotel-search-form input.date-out {
  float: right;
  width: 350px;
  height: 38px;
}

.hotel-search-form input[type="text"] {
  padding: 5px;
  padding-left: 15px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.hotel-search-form input[type="text"]:hover,
.age-counter input:hover {
  background-color: #ebebeb;
}

.hotel-search-form input[type="text"]:active,
.age-counter input:active,
.hotel-search-form input[type="text"]:focus,
.age-counter input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.calendar-btn {
  position: relative;
  width: 36px;
  height: 38px;
  padding: 0;
  background-color: #f2f2f2;
  background: url("../img/sprite.png") no-repeat;
  background-position: -1px -4px;
  top: -32px;
  left: 384px;
  border: none;
  cursor: pointer;
}

.calendar-btn:hover {
  background-color: #ebebeb;
  background-position: -83px -4px;
}

.calendar-btn:active,
.calendar-btn:focus {
  background-color: #ebebeb;
  background-position: -42px -4px;
  outline: none; 
}  

.age-counter .adult-wrap {
  float: left;
  margin-right: 45px;
}

.age-counter .children-wrap {
  float: right;
}

.age-counter label {
  float: left;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-right: 36px;
}

.age-counter .btn-counter {
  float: left;
  width: 37px;
  height: 38px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  background-image: url("../img/sprite.png");
}

.age-counter .btn-minus {
  background-position: -120px 7px;
  cursor: pointer;
}

.age-counter .btn-minus:hover {
  background-color: #ebebeb;
  background-position: -152px 7px;
}

.age-counter .btn-minus:active {
  background-color: #ebebeb;
  background-position: -184px 7px;
}

.age-counter .btn-plus {
  background-position: -216px 3px;
  cursor: pointer;
}

.age-counter .btn-plus:hover {
  background-color: #ebebeb;
  background-position: -247px 3px;
}

.age-counter .btn-plus:active {
  background-color: #ebebeb;
  background-position: -278px 3px;
}

.age-counter input {
  float: left;
  width: 37px;
  height: 38px;
}

.search-button {
  width: 460px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
  color: #ffffff;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #81b3d2;
  cursor: pointer;
  outline: none;
  border: none;
}

.search-button:hover {
  background-color: #669ec0;
} 

.search-button:active {
  color: #94b9d2;
} 

.search-map {
  width: 100%;
  height: 394px;
}

.search-map iframe {
  border: none;
}

/* Выпадающая форма */


/* Гостиницы */
/* Фильтры */

.filters {
  height: 220px;
  padding-top: 30px;
  background: url("../img/bg-blur.jpg") no-repeat 50% 20%;
}

.filter-container {
  padding: 0 75px;
  margin: 0 auto;
  color: #fff;
}

.filter-infrastructure {
  float: left;
  width: 240px;
  height: 150px;
}

.filter-type {
  float: left;
  width: 240px;
  height: 150px;
}   

.filter-infrastructure input[type="checkbox"],
.filter-type input[type="checkbox"] {
  display: none;
}

.filter-infrastructure input[type="checkbox"] + label,
.filter-type input[type="checkbox"] +label {
  position: relative;
  display: block;
  font-size: 14px;
  margin: 0;
  line-height: 21px;
  font-weight: normal;
  padding-left: 40px;
  cursor: pointer;
}

.filter-infrastructure input[type="checkbox"] + label::before,
.filter-type input[type="checkbox"] +label::before {
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
  margin: 0;
  width: 24px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-position: -321px -10px;
  top: 0;
  left: -3px;
}

.filter-infrastructure input[type="checkbox"]:checked + label::before,
.filter-type input[type="checkbox"]:checked +label::before {
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
  margin: 0;
  width: 24px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-position: -402px -10px;
  top: 0;
  left: -1px;
}

.filter-infrastructure .disabled,
.filter-type .disabled {
  opacity: 0.3;
}

.filter-infrastructure input[type="checkbox"]:checked:disabled + label::before,
.filter-type input[type="checkbox"]:checked:disabled +label::before {
  background-image: url("../img/sprite.png");
  background-position: -402px -10px;
  opacity: 0.5;
}

.filter-infrastructure input[type="checkbox"]:disabled + label::before,
.filter-type input[type="checkbox"]:disabled + label::before {
  background-image: url("../img/sprite.png");
  background-position: -321px -10px;
  opacity: 0.5;
}

.filter-infrastructure-title,
.filter-type-title {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.filter-range {
  float: right;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  display: inline;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -7px;
  width: 4px;
  height: 4px;
  background-color: #999999;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
/* Фильтры */

/* Сортировка */
.wrap-results {
  width: 1056px;
  padding: 35px 75px 20px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin: 0; 
}

.found-results {
  margin-right: 50px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-results {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-type {
  font-size: 0;
  margin: 0;
  padding-top: 8px;
}

.sort-type li {
  display: inline-block;
  list-style: none;
  margin-right: 35px;;
}

.sort-type a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px dotted #99cccc;
  color: rgba(0, 0, 0, 0.3);
}

.sort-type .active {
  color: #99cccc;
  border-bottom: none;
  cursor: default;
}

.sort-type a:hover {
  color: #99cccc;
}

.sort-type a:active:not(.active) {
  color: #000000;
  border-bottom: none;
}

.results-arrows {
  position: relative;
  top: 0px;
  transform: translateX(415px);
}

.arrow-up,
.arrow-down {
  color: #cccccc;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow-up {
  margin-right: -10px;
}

.results-arrows .active {
  color: #99cccc;
}

.arrow-up:hover,
.arrow-down:hover {
  color: #000000;
}

.arrow-up:active,
.arrow-down:active {
  color: #99cccc;
}
/* Сортировка */

/* Результаты сортировки */
.wrap-results-item {
  border-top: 1px solid #cccccc;
  height: 150px;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 30px;
  padding-bottom: 30px;    
}

.wrap-results-item:last-child {
  border-bottom: 1px solid #cccccc;
}

.results-img {
  float: left;
  margin-right: 30px;
  width: 135px;
  height: 90px;
}

.results-info {
  float: left;
}

.result-info-text {
  position: relative;
  top: -5px;
  margin-bottom: 8px;
}

.result-info-text b {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding: 0;
  margin: 0;
  cursor: default;
}

.result-info-text b:hover {
  color: #81b3d2;
}

.result-info-text b:active {
  color: #cacaca;
  cursor: pointer;
}

.result-info-text span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
}

.result-info-text span:last-child {
  position: absolute;
  top: 31px;
  left: 116px;
}

.more-btn {
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  background-color: #99cccc;
  color: #ffffff;
  text-decoration: none;
}

.more-btn:hover {
  background-color: #6699cc;
}

.more-btn:active{
  background-color: #6699cc;
  color: #94b9d2;
}


.reserv-btn {
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  text-decoration: none;
}

.reserv-btn:hover {
  background-color: #604e43;
}

.reserv-btn:active {
  background-color: #503e33;
  color: #928a85;
}

.result-stars-rating {
  float: right;
  width: 115px;
}

.result-stars {
  float: right;
  margin-bottom: 33px;
}

.result-stars span {
  font-size: 21px;
  line-height: 26px;
  color: #81b3d2;
  font-weight: 700;
  cursor: pointer;
}

.result-rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px 15px;
  background-color: #f2f2f2;

}
/* Гостиницы */

/* Подвал */
.main-footer {
  position: absolute;
  z-index: 10;
  left: 67px;
  min-height: 115px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 15px 25px lightgrey;
  width: 1200px;
  
}

.hashtag {
  float: left;
  width: 400px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 131px;
  margin: 0 auto;
  padding-top: 46px;
}

.hashtag a {
  text-decoration: none;
  color: inherit;
}

.footer-social {
  float: left;
  width: 400px;
  text-align: center;
  padding-top: 40px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 35px;
}

.social-btn {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: -4px 2px;
  font-size: 0;
  text-decoration: none;
  background: #99cccc url("../img/sprite.png") no-repeat center;
  vertical-align: top;
}

.social-btn:hover {
  background-color: #6699cc;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn-twitter {
  background-position: -350px 5px;
}

.social-btn-twitter:active {
  background-position: -433px 5px;
}

.social-btn-fb {
  background-position: -468px 1px;
}

.social-btn-fb:active {
  background-position: -498px 1px;
}

.social-btn-youtube {
  background-position: -532px 3px;
}

.social-btn-youtube:active {
  background-position: -572px 3px;
}

.footer-copyright {
  float: right;
  height: 50px;
  margin-left: 40px;
  padding-right: 100px;
  padding-top: 40px;
}

.footer-copyright span {
  display: inline-block;
  margin-right: 10px;
}

.footer-copyright .logo-academy {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat;
  width: 113px;
  height: 39px;
  background-position: -624px -10px;
}

.footer-copyright .logo-academy:hover {
  background-position: -757px -10px;
}

.footer-copyright .logo-academy:active {
  background-position: -890px -10px;
}
/* Подвал */
